      <div class="content-sections">
        <div class="content-section">
          <h4 class="page-title-heading"><%= t(".header") %></h4>

          <p>Eventbrite account since Feb 22, 2014</p>

          <%= render "form", profile: profile %>

        </div>
      </div>
