      <div class="content-sections">
        <div class="content-section">
          <h4 class="page-title-heading"><%= t(".header") %></h4>

          <%= render "form", profile: profile %>
        </div>
      </div>
