  <div class="content-area-sidebar">
    <div class="sidebar-area">

      <div class="sidebar-section icon-boxes horizontal">
        <div class="icon-box-column">
          <a href="#" class="icon-box active">
            <div class="icon-box-content">
              <i class="fa fa-bolt"></i>
              <div class="icon-box-label">Popular</div>
            </div>
          </a>
        </div>

        <div class="icon-box-column">
          <a href="#" class="icon-box">
            <div class="icon-box-content">
              <i class="fa fa-bars"></i>
              <div class="icon-box-label">Latest</div>
            </div>
          </a>
        </div>
      </div>

      <div class="sidebar-section no-border">
        <div class="sidebar-map">
          <div class="google-map"></div>
        </div>
      </div>


      <div class="sidebar-section button">
        Register
      </div>


      <div class="sidebar-section content">
        <div class="sidebar-dropdown">
          <a class="sidebar-dropdown-toggle">
            Location
            <i class="fa fa-angle-double-down"></i>
          </a>
          <div class="sidebar-dropdown-content">

            <ul class="radio-buttons-list">
              <li>
                <label>
                  <input type="radio" name="location[]"><span>Prishtine</span>
                </label>
              </li>
              <li>
                <label>
                  <input type="radio" name="location[]"><span>Peje</span>
                </label>
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="sidebar-section content">
        <div class="sidebar-dropdown">
          <a class="sidebar-dropdown-toggle">
            Category
            <i class="fa fa-angle-double-down"></i>
          </a>
          <div class="sidebar-dropdown-content">
            <ul>
              <li>Prishtine</li>
              <li>Peje</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="sidebar-section content">
        <div class="sidebar-dropdown">
          <a class="sidebar-dropdown-toggle">
            Event Type
            <i class="fa fa-angle-double-down"></i>
          </a>
          <div class="sidebar-dropdown-content">
            <ul>
              <li>Prishtine</li>
              <li>Peje</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="sidebar-section content">
        <div class="sidebar-dropdown">
          <a class="sidebar-dropdown-toggle">
            Date/period
            <i class="fa fa-angle-double-down"></i>
          </a>
          <div class="sidebar-dropdown-content">
            <ul>
              <li>Prishtine</li>
              <li>Peje</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="sidebar-section content">
        <div class="sidebar-dropdown">
          <a class="sidebar-dropdown-toggle">
            Price
            <i class="fa fa-angle-double-down"></i>
          </a>
          <div class="sidebar-dropdown-content">
            <ul>
              <li>Prishtine</li>
              <li>Peje</li>
            </ul>
          </div>
        </div>
      </div>


    </div>

  </div>
