  <div class="content-area-sidebar">
    <div class="sidebar-area">

      <div class="sidebar-section icon-boxes horizontal">
        <div class="icon-box-column">
          <a href="#" class="icon-box active">
            <div class="icon-box-content">
              <i class="fa fa-bolt"></i>
              <div class="icon-box-label">Popular</div>
            </div>
          </a>
        </div>

        <div class="icon-box-column">
          <a href="#" class="icon-box">
            <div class="icon-box-content">
              <i class="fa fa-bars"></i>
              <div class="icon-box-label">Latest</div>
            </div>
          </a>
        </div>
      </div>

      <div class="sidebar-section no-border">
				<%= google_map_iframe('42.667542', '21.155191', zoom: 8) %>
      </div>

      <div class="sidebar-section button">
        Register
      </div>

      <% if @events.try(:aggs) %>
        <% @events.aggs.each do |agg| %>
          <div class="sidebar-section content">
            <div class="sidebar-dropdown open">
              <a class="sidebar-dropdown-toggle">
                <%= agg.first.titleize %>
                <i class="fa fa-angle-double-down"></i>
              </a>
              <div class="sidebar-dropdown-content">
                <% unless agg.second['buckets'].nil? %>
                  <ul>
                    <% agg.second['buckets'].each do |bucket| %>
                      <li>
                        <%= link_to "#{bucket['key'].titleize} (#{bucket['doc_count']})", request.params.merge(agg.first.to_sym => bucket['key']) %>
                        <% if request.params.has_value?(bucket['key']) %>
                          <%= link_to "x", request.params.except(agg.first) %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
    <% end %>

    </div>

  </div>
