    <div class="content-sections">
      <div class="content-section">
        <div data-xtab-content="" id="event-details" class="active" style="display: block;">
          <h4 class="page-title-heading">
            Event Details
          </h4>
          <p>Tips for Step 1: Event Details</p>

        </div>

        <div data-xtab-content="" id="create-tickets" style="display: none;">
          <h4 class="page-title-heading">
            Create Tickets
          </h4>
          <p>Tips for Step 2: Create Tickets</p>
        </div>

        <div data-xtab-content="" id="additional-settings" style="display: none;">
          <h4 class="page-title-heading">
            Additional Settings
          </h4>
          <p>Tips for Step 3: Additional Settings</p>
        </div>
      </div>
    </div>
