    <div class="content-sections">
      <div class="content-section">
        <div data-xtab-content="" id="event-details" class="active" style="display: block;">
          <h4 class="page-title-heading">
            Event Details
          </h4>
          <p>Tips for Step 1: Event Details</p>

          <form action="#">
            <div class="form-fields-container">
              <div class="form-field full">
                <div class="form-field-container">
                  <input type="text" value="Trade Pass: London Design Fair 2017" name="name" placeholder="Short title" style="">
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field medium-6">
                <div class="form-field-container">
                  <input type="text" value="San Antonio MI 47096" name="address" placeholder="Address">
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field medium-6">
                <div class="form-field-container">
                  <input type="text" value="Ap #651-8679 Sodales Av." name="city" placeholder="Address 2">
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field one-third">
                <div class="form-field-container">
                  <input type="text" value="New Jersy" name="city" placeholder="City">
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field one-third">
                <div class="form-field-container">
                  <input type="text" value="United States" name="country" placeholder="Country">
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field one-third">
                <div class="form-field-container">
                  <input type="text" value="08219" name="postcode" placeholder="Postcode">
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field medium-6">
                <div class="form-field-container">
                  <input type="text" value="09/11/2017 19:00" name="" placeholder="09/11/2017">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>

              <div class="form-field medium-6">
                <div class="form-field-container">
                  <input type="text" value="109/11/2017 22:30" name="" placeholder="19:00">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>

              <div class="form-field full">
                <div class="form-field-container">
                  <input type="text" value="Trade Pass: London Design Fair 2017" name="name" placeholder="Short title" style="">
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field type-text-area">
                <div class="form-field-container">
                  <textarea name="biography" placeholder="Your biography or company profile (512 characters max)" rows="5"></textarea>
                </div>
              </div>

              <div class="form-field">
                <div class="field-buttons">
                  <button type="submit" class="button hollow wide">Save</button>
                  <button type="reset" class="button hollow wide">Reset</button>
                </div>
              </div>
            </div>

          </form>
        </div>

        <div data-xtab-content="" id="create-tickets" style="display: none;">
          <h4 class="page-title-heading">
            Create Tickets
          </h4>
          <p>Tips for Step 2: Create Tickets</p>
        </div>

        <div data-xtab-content="" id="additional-settings" style="display: none;">
          <h4 class="page-title-heading">
            Additional Settings
          </h4>
          <p>Tips for Step 3: Additional Settings</p>
        </div>
      </div>
    </div>
