<div class="events-grid-column">
  <div class="events-grid-item" style="background-image: url(<%= event.image.url(:grid) %>)">
    <%= link_to event_path(event), class: "events-grid-content" do %>
      <h4 class="events-grid-item-title">
        <%= event.title %>
      </h4>
      <div class="events-grid-item-date">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <%= EventDecorator.new(event).formatted_date %>
      </div>
    <% end %>
  </div>
</div>
