  <div class="content-sections">
    <div class="content-section search-error-container">
      <h5 class="page-title-heading">
        Sorry, we couldn't find any "<%= request.params.dig(:search, :query) %>" events in this area.
      </h5>
    </div>
  </div>
