        <div class="event-organizer">
          <div class="event-organizer-image">
            <%= image_tag("event-organizer.png") %>
          </div>
          <div class="event-organizer-details">
            <h6 class="event-organizer-title purple-heading"><%= @event.organizer.name %></h6>

            <div class="event-organizer-social">
              <a href="#"><i class="fa fa-link"></i>Website</a>
              <a href="#"><i class="fa fa-facebook"></i>Facebook</a>
            </div>

            <div class="event-organizer-content">
              <p><%= @event.organizer.description %></p>
            </div>
          </div>
        </div>

      </div>
