<div class="reveal" id="shareModal" data-reveal>
  <div class="card">
    <div class="card-divider">
      <h5><%= t(".header") %></h5>
    </div>

    <div class="card-section">
      <%= social_share_tag(event) %>
    </div>
  </div>
</div>
