<%= content_for :jumbotron do %>
  <%= raw t(".header") %>
<% end %>

<div class="content-area">
  <%= render partial: "filters" %> 

  <div class="content-area-main">
    <div class="events-list">
      <%= render "events", collection: @events %>

      <div class="pagination">
        <ul class="pagination-pages">
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
        </ul>

        <ul class="pagination-nav">
          <li><a href="#">Prev</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
