<% content_for :jumbotron do %>
  <%= raw t(".header") %>
<% end %>

<div class="content-area" data-xtabs="">
  <%= render "steps" %>

  <div class="content-area-main">

    <%= render "form" %>
  </div>
</div>
