<%= content_for :jumbotron do %>
  <h1 class="event-hero-content-title">
    <%= @event.title %>
  </h1>
  <h6 class="event-hero-content-subtitle">
    By <%= @event.user.name %>
  </h6>
<% end %>

<div class="content-area">
  <%= render "sidebar" %>
  
  <div class="content-area-main">

		<div class="content-sections">
			<div class="content-section">
        <p><% @event.description %></p>

        <p><% @event.end_date.to_formatted_s(:short) %></p>

				<div class="images-container">
					<div class="images-container-column">

						<div class="image-container">
							<img src="../assets/toolkit/images/single-event-image-1.jpg">
						</div>

					</div>
					<div class="images-container-column">

						<div class="image-container">
							<img src="../assets/toolkit/images/single-event-image-2.jpg">
						</div>

					</div>
				</div>

				<p></p>

				<p>Every icon set submitted to Iconfinder is reviewed and evaluated for potential appeal to our website users and for potential commercial value as premium icons. When reviewing icon sets submitted to the website, we have a responsibility to our designers and to our customers to make sure all premium icons on the website are of the highest possible quality. To achieve this, we are constantly aware of the difference between “not quite good enough” and “premium quality.” The difference is often very small and usually requires minimal changes, but it has a great impact on the design and value of the icon set. Unlike many other marketplaces, we rarely reject sets that don’t quite meet our quality requirements outright. Instead, we will share very specific.</p>

				<p>This article discusses a set of design guidelines in six steps. The steps follow the basics of sound icon design, including consistency, legibility and clarity. The principles of effective icon design have been discussed at length by icon designer John Hicks of Hicks Design in his book The Icon Handbook, as well as by Google in its material design guidelines for system icons. The six steps discussed in this article should be seen as a guide, not a dogmatic list of rules. Part of becoming a great designer is learning when to break the rules and when to follow them, as we will demonstrate here.</p>

			</div>
			<div class="content-section">

				<div class="event-organizer">
					<div class="event-organizer-image">
						<img src="../assets/toolkit/images/event-organizer.png">
					</div>
					<div class="event-organizer-details">
						<h6 class="event-organizer-title purple-heading">American University of Kosovo</h6>

						<div class="event-organizer-social">
							<a href="#"><i class="fa fa-link"></i> Website</a>
							<a href="#"><i class="fa fa-facebook"></i> Facebook</a>
						</div>

						<div class="event-organizer-content">
							<p>John Hicks of Hicks Design in his book The Icon Handbook, as well as by Google in its material design guidelines for system icons. The six steps discussed in this article should be seen as a guide, not a dogmatic list of rules. Part of becoming a great designer is learning.</p>
						</div>
					</div>
				</div>

			</div>
			<div class="content-section">
				<h6 class="purple-heading">contact the event administrator</h6>
				<p>In order to get a ticket, or get more information on the event, please contact the author of the event</p>

				<form action="#">

					<div class="fields-container">

						<div class="fields-row">

							<div class="field one-third">
								<input type="text" name="name" placeholder="Name">
								<i class="fa fa-user"></i>
							</div>

							<div class="field one-third">
								<input type="email" name="email" placeholder="Email">
								<i class="fa fa-envelope"></i>
							</div>

							<div class="field one-third">
								<input type="text" name="phone" placeholder="Phone">
								<i class="fa fa-phone"></i>
							</div>

						</div>

						<div class="fields-row">

							<div class="field full">
								<textarea name="message" placeholder="Your message goes here..." rows="5"></textarea>
							</div>

						</div>

					</div>

					<div class="field-buttons">
						<button type="submit" class="button hollow wide">SEND</button>
						<button type="reset" class="button hollow wide">RESET</button>
					</div>

				</form>
			</div>
		</div>

	</div>
</div>
