<% @events.each do |event| %>
  <%= render( partial: "events/#{display}", locals: { event: event }) %>
<% end %>

<% if @events.count >= 8 %>
  <div class="column text-center">
    <%= link_to t(".see_more"), events_path(page: 1), class: "button hollow wide" %>
  </div>
<% end %>
