  <div class="content-area-sidebar">
    <div class="sidebar-area">

      <div class="sidebar-section icon-boxes vertical">
        <div class="icon-box-column">
          <%= link_to root_path(order_by: "upcoming"), class: "icon-box" do %>
            <div class="icon-box-content">
              <i class="fa fa-bolt"></i>
              <div class="icon-box-label">Upcoming</div>
            </div>
          <% end %>
        </div>

        <div class="icon-box-column">
          <%= link_to root_path(order_by: "newest"), class: "icon-box" do %>
            <div class="icon-box-content">
              <i class="fa fa-bars"></i>
              <div class="icon-box-label">Latest</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
