  <div class="content-area-sidebar">
    <div class="sidebar-area">

      <div class="sidebar-section icon-boxes vertical">
        <div class="icon-box-column">
          <%= link_to request.params.merge(order_by: "popular"), class: "icon-box #{ params[:order_by] == "popular" ? "active" : ""}" do %>
            <div class="icon-box-content">
              <i class="fa fa-bolt"></i>
              <div class="icon-box-label"><%= t("shared.footer.popular_events") %></div>
            </div>
          <% end %>
        </div>

        <div class="icon-box-column">
          <%= link_to request.params.merge(order_by: "newest"), class: "icon-box #{ params[:order_by] == "newest" ? "active" : ""}" do %>
            <div class="icon-box-content">
              <i class="fa fa-bars"></i>
              <div class="icon-box-label"><%= t("shared.footer.latest_events") %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
