  <div class="content-area-sidebar">
    <div class="sidebar-area">

      <div class="sidebar-section icon-boxes vertical">
        <div class="icon-box-column">
          <a href="#" class="icon-box active">
            <div class="icon-box-content">
              <i class="fa fa-bolt"></i>
              <div class="icon-box-label">Popular</div>
            </div>
          </a>
        </div>

        <div class="icon-box-column">
          <a href="#" class="icon-box">
            <div class="icon-box-content">
              <i class="fa fa-bars"></i>
              <div class="icon-box-label">Latest</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
