<% content_for :jumbotron do %>
  <%= raw t(".header") %>
<% end %>

<div class="content-area sidebar-small">
  <%= render "filters" %>

  <div class="content-area-main">
    <div class="events-grid">
      <%= render "events", display: :grid %>

      <div class="column text-center">
        <a href="#" class="button hollow wide">Load more</a>
      </div>

    </div>

  </div>
</div>
