<%= content_for :page_title, 'Find the latest events in Kosovo' %>

<% content_for :jumbotron do %>
  <%= raw t(".header") %>
<% end %>

<div class="content-area sidebar-small">
  <%= render "filters" %>

  <div class="content-area-main">
    <div class="events-grid">
      <%= render "events", display: :grid %>
    </div>

  </div>
</div>
