@charset "utf-8";
@import "normalize-rails";
@import "font-awesome";
@import "base/base";
@import "recurring_select";
@import "social-share-button";
// Custom CSS
button[type=reset],
button[type=submit] {
  text-transform: uppercase;
}

abbr[title="required"] {
  display: none;
}

.user-avatar {
  background-size: cover;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.sidebar-section.sidebar-profile .sidebar-profile-data {
  float: right;
}

.error {
  font-size: 0.7125rem;
}

.callout {
  background-color: lavender;
  margin: 0;
  border: none;
}

.callout.large {
  padding: 1.4rem 3rem;

  p {
    margin-bottom: 0;
  }
}

.inputfile-image {
  .user-avatar {
    -webkit-border-radius: 0;
  }
}

label[for="event_invite_only_true"] {
  display: flex;
  float: left;
}

.search-error-container {
  padding: 4em;
  margin-bottom: 0;

  h5 {
    margin-bottom: 0;
  }
}

.events-list-item-price {
  span {
    font-weight: 500;
  }
}

.events-list-item-price {
  &.free {
    &::before {
      background: #593b95;
    }
  }

  &.paid {
    &::before {
      background: #583b95b0;
    }
  }

  &.donation {
    &::before {
      background: #ea3f33a1;
    }
  }
}

.sidebar-dropdown-content {
  > ul > li {
    a {
      &.active {
        text-decoration: underline!important;
      }
    }
  }
}
$size: 33px;

.social-share-button {
  .ssb-icon {
    margin: 3px;
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

.reveal {
  padding: 0;
  text-align: center;
}
.mailbox {
  .tabs {
    border: 2px solid #e6e6e6;

    li.is-active {
      a {
        background: #fff;
        border: 2px solid #593b95
      }
    }
  }
  .tabs-content{
    border: 0;
  }
}
