@charset "utf-8";

@import "normalize-rails";
@import "font-awesome";
@import "base/base";

// Custom CSS
button[type=submit], button[type=reset] {
  text-transform: uppercase;
}
abbr[title="required"] {
  display: none;
}
.user-avatar{
  background-size: cover;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.sidebar-section.sidebar-profile .sidebar-profile-data{
  float: right;
}
