<% if flash.any? %>
  <% user_facing_flashes.each do |key, value| -%>
    <div class="callout large" data-closable="slide-out-right">
      <p><%= value %></p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end -%>
<% end %>
