<% if flash.any? %>
  <% user_facing_flashes.each do |key, msg| -%>
    <div class="callout large" data-closable="slide-out-right">
      <div class="content-area" />
        <p><%= msg %></p>

        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  <% end -%>
<% end %>
